.user-picture-container {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 2px var(--primary-400);
}

.user-picture-container img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
}
